# data mining
telethon
pillow
aiohttp

# general data processing and machine learning
numpy
pandas
jupyterlab
matplotlib
plotly
scikit-learn
openpyxl

# transformers and bert
nltk
gensim
tqdm
torch
torchvision
transformers
tokenizers
datasets
bertviz

# modelling an interpretability
xgboost
shap

# lightautoml
lightgbm
lightautoml

# h2o
requests
tabulate
future
h2o